<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-option1-tab" data-toggle="tab" href="#nav-option1" role="tab" aria-controls="nav-option1" aria-selected="true">Opcion # 1</a>
        <a class="nav-item nav-link" id="nav-option2-tab" data-toggle="tab" href="#nav-option2" role="tab" aria-controls="nav-option2" aria-selected="false">Opcion # 2</a>
        <a class="nav-item nav-link" id="nav-option3-tab" data-toggle="tab" href="#nav-option3" role="tab" aria-controls="nav-option3" aria-selected="false">Opcion # 3</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-option1" role="tabpanel" aria-labelledby="nav-option1-tab">
        <app-table></app-table>
    </div>
    <div class="tab-pane fade" id="nav-option2" role="tabpanel" aria-labelledby="nav-option2-tab">...</div>
    <div class="tab-pane fade" id="nav-option3" role="tabpanel" aria-labelledby="nav-option3-tab">...</div>
</div>