.label {
    font-size: 95%;
    padding: 4px 7px;
    font-weight: 700;
    margin-bottom: 0;
    border-radius: .25em;
    white-space: nowrap;
}

.span-info {
    color: #fff;
    background-color: #0d47a1;
}

.span-danger {
    color: #fff;
    background-color: #f4511e;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.text-blob {
    font-weight: bold;
    font-size: 15px;
}